# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Dependências (caso futuramente vire React)
node_modules/
dist/
build/

# Ambiente
.env
.env.local